@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.header-part {
  background-image: url("../images/Hero-bg.png");

  height: 800px;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header h1 {
  font-size: 60px;
  font-weight: 800;
}
header p {
  /* margin-left: 100px; */
  font-size: 20px;
}
header button {
  border: none;
  border-radius: 5px;
  background-color: black;
  color: white;
  padding: 15px;
  font-size: 20px;
  margin-left: 250px;
}
/* header section design end */

/* why web development part */
.why-web-body {
  display: flex;
  flex-direction: column;
}
.why-web-caption-part {
  margin-left: 400px;
}
.why-web-caption-part h1 {
  font-size: 70px;
  font-weight: 800;
}
.why-web-caption-part p {
  font-size: 30px;
  font-weight: 400;
}
.web-btn {
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(234, 242, 242);
  font-size: 20px;
}
.why-web-description h2 {
  font-size: 40px;
  font-weight: 600px;
}
.why-web-description p {
  font-size: 25px;
  font-weight: 400px;
}

.ww-part1 {
  margin: 10px 0;

  padding: 15px;
  display: flex;
  justify-content: space-between;
}
.ww-part2 {
  margin: 10px 0;

  padding: 15px;
  display: flex;
  justify-content: space-between;
}
.ww-part3 {
  margin: 10px 0;

  padding: 15px;
  display: flex;
  justify-content: space-between;
}
.why-web-desctiption-section {
  display: flex;
  flex-direction: column;
}

/* <!-- my inspiration part --> */
.my-inspiration{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 0;
   
}

.my-inspiration h1{
    font-size: 70px;
    font-weight: 700px;
    margin-left: 500px;
}
.my-inspiration p{
    font-size: 30px;
    font-weight: 400px;
    margin-left: 400px;
}
.video{
    height: 700px;
    width: 100%;
    margin: 5px;
}